.product-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .cards {
    border: 2px solid black;
    border-radius: 10px;
    
    text-align: center;
  }

  img {
    margin: 12px auto 0 auto;
  }

  .input-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }