.nav-container {
    display: flex;
    margin: 18px;
}

nav {
    width: 100%;
}

nav > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 200px;
    padding:0 80px 0 0;
}

div > a {
  margin: 12px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  color: whitesmoke;
}

.nav-right {
    display: flex;
    gap: 4px;
}

.cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

svg {
    color: white;
}



